/activate.bat
/create-venv.bat
/OLD
/py-shell-open.reg
/tmp
/venv
REST API Hakos Roof.txt
test-env-config.py
test1/test.json
astro.code-workspace
notizen.txt
copy-to-onedrive.bat
copy-to-remote-test.bat
mpc-reports.txt
measurements.txt
__pycache__
