/activate.bat
/create-venv.bat
/EP_20230617_JSON-Neoplanner.json
/M49_cam#3_Revise_2023-06-22-02-41-26.csv
/NEW-2023-06-22.json
/OLD
/py-shell-open.reg
/Revise_2023-06-17-04-45-31.csv
/tmp
/venv
REST API Hakos Roof.txt
test-env-config.py
test1/test.json
astro.code-workspace
M49_2.csv
M49_cam#3_Revise_2023-06-24-12-32-46.csv
M49_cam#3_Revise_2023-06-22-02-41-26.csv
notizen.txt
copy-to-onedrive.bat
copy-to-remote-test.bat
