/activate.bat
/create-venv.bat
/OLD
/py-shell-open.reg
/tmp
/venv
REST API Hakos Roof.txt
test-env-config.py
test1/test.json
astro.code-workspace
notizen.txt
copy-to-*.bat
mpc-reports.txt
measurements.txt
__pycache__
.config/
IAS-astro-python.7z
get-scripts.bat
put-scripts.bat
